body {
	background-color: #36454F;
	width: 100%;
	padding-left: 400px;
}

img {
	box-sizing: border-box;
	padding: 20px 20px 20px 20px;


}
.letter {
	color: white;
	margin-left: 20px;
	margin-top: 80px;
	font-size: 20px;
}