/*12180px x 2436px */


body {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fcfcfc+0,febf01+87 */
background: #fcfcfc; /* Old browsers */
background: -moz-linear-gradient(top,  #fcfcfc 0%, #febf01 87%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #fcfcfc 0%,#febf01 87%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #fcfcfc 0%,#febf01 87%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#febf01',GradientType=0 ); /* IE6-9 */


	
	color: white;
	font-size: 260px;
	text-align: center;



}


header {
	
	padding: 450px 0 400px 0;
	background-image: url(../photo/1.png);
	

	background-repeat: no-repeat;

}

h1 {
	font-size: 160px;
	color: #d44b19;
	font-family: 'Titillium Web', sans-serif;
	font-weight: bold 800;
	margin-top: 60px;
	line-height: 160px;
	
	
}


h3 {
	font-family: 'Titillium Web', sans-serif;
	font-size: 80px;
	text-align: center;
	background-color: brown;
	

	padding-top: 50px;
	padding-bottom: 55px;
	
	color: white;
	height: 15px;
	background-color: brown;
	margin-top: 350px;
	margin-bottom: 180px;
	
}


section.section_one {
	font-size:13px;
	text-align: center;
	font-family: Rubik;
	font-weight: lighter;
	color:brown;
	line-height: 7px;



}


section.section_two {
	font-family: Rubik;

	font-size: 40px;
	text-align: left;
	/*float: left;*/

	/*padding: 100px 50px 100px 50px;*/
	background-color: #fcf4e1;
	/*margin-bottom: 780px;*/
	color:brown;
	line-height: 30px;
	box-sizing: border-box;
	display: inline-block;
	/*position: absolute;*/

}

section.section_three {
	font-family: Rubik;

	font-size: 40px;
	text-align: left;
	/*float: right;*/
	/*padding: 100px 200px 100px 200px;*/
	background-color: #fcf4e1;
	/*margin-left: 150px;*/
	color: brown;
	margin-bottom: 180px;
	line-height: 30px;
	box-sizing: border-box;
	display: inline-block;
	

}



div.headers {
	
	font-family: 'Titillium Web', sans-serif;
	font-weight: 400;
	font-size: 80px;
	text-align: center;
	background-color: brown;
	margin-top: 350px;

	padding-top: 0px;
	padding-bottom: 100px;

	color: white;
	height: 35px;
	background-color: brown;


}


img.hamburger {

	width: 900px;
    height: 600px;
    box-sizing: border-box;
    display: inline-block;
   
   	margin-left: -35px;

    margin-bottom: 30px;
    border-left: 9px solid white;
    border-right:9px solid white;
    border-top:9px solid white;
    border-bottom: 9px solid white;
 

}

h5 {
	font-size: 200px;
	margin-top: 150px;
	text-align: center;
	margin-bottom: 40px;
	color: #d44b19;
}

section.one {
	text-align: center;
	font-size: 60px;
	width: 900px;
	margin-left: 112.5px;
	color: brown;
	font-family: Dosis;
	padding:0;
}

section.two {

	margin-top: 835px;
	margin-left: 355px;
	font-size: 160px;
	color: white;
	font-family: 'Titillium Web', sans-serif;
	position: absolute;
	text-align:  center;
	
}


.w {
	width: 900px;
	margin-top: 600px;
	opacity: 0.4;
	border-radius: 100%;
	position: relative;
	
	}
