html {
	height:100%;
	min-width: 375px;
}

body {
	text-align:center;
	overflow:hidden;
	margin:0;
	height:100%;
	font-size: 100%
}



a {
	position: absolute;
	object-fit: cover;
	
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
}

#one {
	background-image: url(../images/f3.jpg);
	background-size: 100%;
	background-position: 100% 100%;
	background-repeat:no-repeat;
	background-color: rgba(236,103,31,1)
	
}



#two {
	background-image: url(../images/f2.jpg);
	background-size: 85%;
	background-position: 200% 100%;
	background-repeat:no-repeat;
	background-color: white;
}

#three {

	background-image: url(../images/f1.jpg);
	background-size: 100%;
	background-position: 100% 100%;
	background-repeat:no-repeat;
	background-color: #efefef;
}
.text1 {
	box-sizing: inline-box;
	position:absolute;
	max-width: 400px;
	min-width: 335px;
	margin-top: 140px;
	color: white;
	text-align: left;
	margin-left: 10px;
	font-family: 'Enriqueta', serif;
	font-size: 45px;
}


.text2 {
	position: absolute;
	max-width: 500px;
	margin-top: 131px;
	color: darkorange;
	
	text-align: right;
	margin-left: 50px;
	
	font-size: 23px;
	text-shadow: 1.2px 0.6px grey;
	font-family: 'Enriqueta', serif;
}

.text3 {
	box-sizing: inline-box;
	position: absolute;
	max-width: 860px;
	margin-top: 90px;
	color: red;
	text-align: left;
	margin-left: 160px;
	letter-spacing: 1px;
	font-size: 25px;
	text-shadow: 1.3px 0.8px grey;


}
	
	


@media ( min-width:1100px ){
	.three {
	background-image:url(../images/f1.jpg);
	background-size:cover;
	background-position:58% top; 
	margin:0;
}
.text3 {
	box-sizing: inline-box;
	position:absolute;
	max-width: 330px;
	margin-top: 110px;
	color: red;
	text-align: left;
	margin-left: 43px;
	font-family: 'Enriqueta', serif;
	font-size: 32px;}



}

@media (max-width: 600px){

.one {
	background-image:url(../images/f3.jpg);
	
	background-position:58% top; 
	margin:0;
}

.text1 {
	box-sizing: inline-box;
	position:absolute;
	max-width: 400px;
	min-width: 335px;
	margin-top: 140px;
	color: white;
	text-align: left;
	margin-left: 10px;
	font-family: 'Enriqueta', serif;
	font-size: 45px;
}

.two {
	background-image:url(../images/f2.jpg);
	background-size:cover;
	background-position:58% top; 
	margin:0;

}

.text2 {
	box-sizing: inline-box;
	position:absolute;
	max-width: 290px;
	line-height: 140%;
	margin-top: 60px;
	color:darkorange;
	text-align: left;
	margin-left: 50px;
	font-family: 'Enriqueta', serif;
	font-size: 40px;
}

	.three {
	background-image:url(../images/f1.jpg);
	background-size:cover;
	background-position:58% top; 
	margin:0;
}
.text3 {
	box-sizing: inline-box;
	position:absolute;
	max-width: 330px;
	margin-top: 110px;
	color: red;
	text-align: left;
	margin-left: 43px;
	font-family: 'Enriqueta', serif;
	font-size: 32px;
}
}
@media (min-width: 590px){

.one {
	background-image:url(../images/f3.jpg);
	
	background-position:58% top; 
	margin:0;
}

.text1 {
	box-sizing: inline-box;
	position:absolute;
	max-width: 1000px;
	min-width: 335px;
	line-height: 150px;
	margin-top: 430px;
	color: white;
	text-align: center;
	margin-left: 200px;
	font-family: 'Enriqueta', serif;
	font-size: 90px;
}

